<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Project"   parallel="false" thread-count="1">
<listeners>
<listener class-name="com.bkg.listeners.Listeners"></listener>
</listeners>
 
  <test  name="Test">
    <classes>                   
     <class name="Project.Loginpage_Test"/>   
                      
             </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


