<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="E2EcargoProject"   parallel="false" thread-count="1">
<listeners>
<listener class-name="com.bkg.listeners.Listeners"></listener>
</listeners>
 
  <test  name="Test">
    <classes> 
             
        <class name="E2EcargoProject.EcargoBkgcreate_Test"/>
      <class name="E2EcargoProject.EcargoLoginpage_Test"/> 
    <class name="E2EcargoProject.EcargoLoginFail_Test"/>       
       <class name="E2EcargoProject.Booking_Cancel_Test"/>
       <class name="E2EcargoProject.Pdfutil_Test"/>
       
             </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
